<table border="1">
<tr>
<td> title</td>
<td> published</td>
<td> category</td>

</tr>
<tr>
<td>{{ book.title }}</td>
<td>{{ book.published }} </td>
<td>{{ book.category }}</td>

</tr>
</table>

