{% extends 'listDB.html.twig' %}

{% block body %}
    <h1>Total Quantity of Science Fiction Books</h1>
    <p>The total quantity of Science Fiction books is: {{ totalQuantity }}</p>
{% endblock %}